body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #878787;
  font-size: 32px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 20;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

.date {
  font-size: 16px;
}

.weather_app_wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather_app {
  padding: 20px;
  border: 1px;
  border-radius: 5px;
  background: linear-gradient(
    178.6deg,
    rgb(232, 245, 253) 3.3%,
    rgb(252, 253, 255) 109.6%
  );
}

.float-left {
  float: left;
}

.overview {
  margin-bottom: 20px;
}

.weather_temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather_temperature strong {
  color: #5c7aea;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather_temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.units a {
  text-decoration: none;
}

.weather_temperature .active {
  color: black;
  cursor: default;
}

.weather_temperature .active:hover {
  text-decoration: none;
}

#github {
  display: inline-block;
  padding: 5px;
  margin-top: 10px;
}
